ul.factors__list {
  list-style: none;
  padding-left: 0;
}

.nhsuk-card__header.nhsuk-card__content {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 4.6em;
}

.svg-pentagon {
  fill: $color-nhsuk-blue;
  fill: #fff;
  stroke: $color-nhsuk-blue;
  stroke-width: 32px;
}

.nhsuk-card__header--icon {
  position: absolute;
  top: -16px;
  left: -4px;

  .svg-pentagon {

    &.rotate-30 {
      transform: rotate(30deg);
    }

    &.rotate-60 {
      transform: rotate(60deg);
    } 

    &.rotate-90 {
      transform: rotate(90deg) translateY(-0.2em)
    }
    
  }
}

figure.nhsuk-image {
  margin-top: 0;
}



.fa-layers span {
  font-weight: bold;
}

.color-cieh-red {
  color: $cieh-red;
}
.color-cieh-grey {
  color: $cieh-grey;
}
.color-cieh-blue {
  color: $cieh-blue;
}
.color-cieh-yellow {
  color: $cieh-yellow;
}

.cieh-card__red,
.cieh-card__blue,
.cieh-card__grey {
  .nhsuk-card__heading {
    a, a:visited, a:hover, a:active {
    color: #fff;
    }
  }
}

.nhsuk-card.cieh-card__grey {
  > .nhsuk-card__header {
    color: #fff;
    background-color: $cieh-grey;

    .svg-pentagon {
      stroke: $cieh-grey;
    }
  }

  border: 4px solid $cieh-grey;
}

.nhsuk-card.cieh-card__red {
  > .nhsuk-card__header {
    color: #fff;
    background-color: $cieh-red;

    .svg-pentagon {
      stroke: $cieh-red;
    }
  }

  border: 4px solid $cieh-red;
}

.nhsuk-card.cieh-card__yellow {
  > .nhsuk-card__header {
    color: #000;
    background-color: $cieh-yellow;

    .svg-pentagon {
      stroke: $cieh-yellow;
    }
  }

  border: 4px solid $cieh-yellow;
}

.nhsuk-card.cieh-card__blue {
  > .nhsuk-card__header {
    color: #fff;
    background-color: $cieh-blue;

    .svg-pentagon {
      stroke: $cieh-blue;
    }
  }

  border: 4px solid $cieh-blue;
}

.nhsuk-image__caption {
  font-size: 0.75em;
}

.cieh-principle {
  display: flex;
  flex-direction: column;
  
  .nhsuk-card__content:not(.nhsuk-card__header) {
    flex-grow: 1;
  }
}